/* Made By CatTimothy */
.navbar-dark .navbar-toggler {color: rgba(0,0,0,.55); border-color: rgba(0,0,0,.5); background-color: rgba(255,255,255,.1);}
.navbar-dark .navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.80%29' stroke-linecap='round' stroke-miterlimit='20' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}


/* DropDown On Hover */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{ color: orange; }
	.navbar .nav-item:hover .dropdown-menu{
		display: block; 
		animation-name:dropdown-menu; 
		animation-duration:0.3s;
		position: absolute;
		top: 40px;
	}
	.navbar .show .dropdown-menu{
		display: block; 
		animation-name:dropdown-menu; 
		animation-duration:0.3s;
		position: absolute;
		top: 40px;
	}
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
@keyframes dropdown-menu{
    from{
        top:0px;
		opacity:0
    }
    to{
        top:40px;
		opacity:1
    }
}


@media (max-width: 992px){
	.navbar .show .dropdown-menu{
		position: relative;
		animation-name:dropdown-menu-phone; 
		animation-duration:0.3s;
	}
}
@keyframes dropdown-menu-phone{
    from{
        top:-40px;
		opacity:0
    }
    to{
        top:0px;
		opacity:1
    }
}




@media (max-width: 992px) {
	.hide-on-phone{ display: none !important;}	
}

.header-img{
	height: 650px;
	margin-top: -100px;
	overflow: hidden;
	border-radius: 20px;
}

img{
	border-radius:10px;
}

.ds-blog-loop-sec{
	border-radius: 10px;
}